<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework configuration -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.web>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="RemoteOnly" />
    
    <roleManager defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add applicationName="TestItAll" connectionStringName="loginConnectionString2" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="User/admin" />
    </authentication>

    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="loginConnectionString2" 
             applicationName="MyApplication" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="true" 
             requiresUniqueEmail="true" 
             passwordFormat="Hashed" />
      </providers>
    </membership>

    <machineKey decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" validationKey="AutoGenerate,IsolateApps" />
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" 
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" 
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <!-- Connection Strings -->
  <connectionStrings>
    <add name="loginConnectionString2" 
         connectionString="Data Source=185.213.164.32,2028;
                           Initial Catalog=gishplandb;
                           User ID=TempAdmin;
                           Password=P@ssw0rd_Str0ng!;
                           Persist Security Info=True;" 
         providerName="System.Data.SqlClient" />

    <add name="gishplandbEntities2" 
         connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           data source=185.213.164.32,2028;
                           initial catalog=gishplandb;
                           persist security info=True;
                           user ID=TempAdmin;
                           password=P@ssw0rd_Str0ng!;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />

    <add name="gishplandbEntities" 
         connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           data source=185.213.164.32,2028;
                           initial catalog=gishplandb;
                           persist security info=True;
                           user ID=TempAdmin;
                           password=P@ssw0rd_Str0ng!;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- Entity Framework -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- IIS settings -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="default" />
      </files>
    </defaultDocument>

    <httpRedirect enabled="false" destination="default.aspx" />
  </system.webServer>

  <!-- Runtime Assembly Binding -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- WCF Service References -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentIFBindingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap1" />
        <binding name="ConfirmServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ConfirmServiceSoap1" />
        <binding name="BasicHttpBinding_IsrvRefund">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://verify.sep.ir/Payments/ReferencePayment.asmx" 
                binding="basicHttpBinding" 
                bindingConfiguration="PaymentIFBindingSoap" 
                contract="ServiceReference1.PaymentIFBindingSoap" 
                name="PaymentIFBindingSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx" 
                binding="basicHttpBinding" 
                bindingConfiguration="ConfirmServiceSoap" 
                contract="ServiceReference2.ConfirmServiceSoap" 
                name="ConfirmServiceSoap" />
      <endpoint address="https://srtm.sep.ir/RefundService/srvRefund.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IsrvRefund" 
                contract="ServiceReference3.IsrvRefund" 
                name="BasicHttpBinding_IsrvRefund" />
    </client>
  </system.serviceModel>

  <!-- JSON Serialization -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
